.card__block {    
    width: 1000px;     
    margin: 40px auto;  
}

.card {
   
    display: flex;    
    margin-bottom: 50px;    
}

.card__info {
    margin: 5px 15px 15px 35px;
    width: 50%;
}

.card img {     
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.card__title {
    display: flex;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: white;
}

.card__ratingTitle {
    margin-top: 10px;
    font-weight: 700;
    color: white;
}

.addFavoritList {
    width: 150px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__description {
    color: white
}

.card__genres {
    margin-left: 5px;
    color: white;
}

.card__genres:first-child {
    margin-left: 0;
}

.player video {
    outline: none;
}

