.modal button {    
    color: #FF4057;
}
.modal button:hover {
    color: white;
}

.modal div {        
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0;
}